
img{
	width:400px;
}
h1{
	color: red;
	font-family: 'Tangerine', serif;
    font-size: 35px;
      }

h2{
	color: hotpink;
}
link}

h2{
	color: Hotpink;
	font-family: 'Raleway', 'sans-serif;
    font-size: 48px;